*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.logo{
  margin-left: 60px;
  margin-top: 50px;
  
  }
  .logo img{
      height: 7vh;
  }
  .logo h3{
      color:teal;
      font-size: 25px;
      margin-top: -35px;
  
      margin-left: 50px;
  }

.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(35, 33, 33);
    background-size: cover;
    background-position: center;
    position: relative;
}

 .span{
color: azure;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 8px;
}
.navbar ul li a{
    text-decoration: none;
    color: teal;
    font-size: 15px;
}


  .menu a:hover{
    color: white;
  }
  .about{
    width: 100%;
    padding: 78px 0px;
    align-items: center;
    text-align: center;
 
    
  }
  .about-text{
    width: 550px;
    margin-left: 30%;
  }
  .about-text h1{
    color: teal;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .about-text h5{
    color: aliceblue;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
  }
  .about-text p{
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
  }
 
 
  .footer{
    position: absolute;
    margin-top: -60px;
    height: 20vh;
    color: white;
    background:#141414;
    width: 100%;
}


.logopart img{
    height:7vh;
    margin-left: 70px;
    margin-top: -50px;
}
.logopart h1{
    color:teal;
font-size: 25px;
margin-top: 40px;
margin-left: 120px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}
.socials i{
    font-size: 27px;
    margin-top: 30px;
    padding: 0px 4px;
    color: teal;
}



.search-box{
  background: black;
  border-radius: 40px;
  padding: 10px;
  height: 30px;
  margin-right: 60px;
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}
.search-btn{

  color: teal;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 1s;
  line-height: 40px;
  width: 0px;
}
.icon img{
  font-size: 27px;
    margin-top: 3px;
    padding: 0px 4px;
    color: teal;
    
}




